#security {
    padding-top: 40px;
    padding-bottom: 60px;

    .container {
        display: grid;
        justify-content: center;

        @include lg {
            grid-template-columns: 1fr 3fr;
            padding-right: 5rem;
        }

        .menu-bar {
            display: flex;
            position: relative;
            flex-direction: column;
            margin-bottom: 30px;
            align-self: flex-start;
            align-items: center;

            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include lg {
                grid-template-columns: 1fr;
            }


            .profile {
                text-align: center;

                @include md {
                    padding-right: 3rem;
                }

                h5 {
                    color: var(--color-gray-900);
                    margin-bottom: 0;
                }

                p {
                    color: var(--color-gray-600);
                    margin-bottom: 2rem;
                }

                .image {
                    position: relative;

                    img {
                        clip-path: circle();
                        max-width: 180px;
                        max-height: 180px;
                        border: 1px hidden;
                    }

                    .btn-upload {
                        position: absolute;
                        background-color: white;
                        clip-path: circle();
                        padding: 5px;
                        bottom: 15px;
                        right: 30px;

                        @include xxl {
                            right: 70px;
                        }

                        &:hover {
                            background-color: black;
                            cursor: pointer;
                        }
                    }
                }
            }

            .options {
                display: flex;
                flex-direction: column;


                @include md {
                    padding-right: 1rem;
                }

                a {
                    color: var(--color-gray-900);
                    font-weight: 700;
                    padding: 10px;
                    max-width: 300px;
                    width: auto;
                    margin-bottom: 0.2rem;
                    text-decoration: none;
                    border-radius: .4rem;


                    i {
                        padding-right: 1rem;
                        padding-left: 1.2rem;
                    }

                    &:hover,
                    &:active,
                    &:focus,
                    .active {
                        background-color: $theme;
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .active {
                    background-color: $theme;
                    color: #fff;
                }
            }
        }
    }

    .security-details {
        @include lg {
            border-left: 1px solid var(--color-gray-300);
            padding-left: 7rem;
        }

        h2 {
            color: var(--color-gray-900);
            margin-top: 20px;
            margin-bottom: 25px;
        }

        h5 {
            color: $theme;
        }

        .confirm-password {
            @include lg {
                display: flex;
                gap: 20px;
                justify-content: space-between;
            }
        }

        .input-group {
            display: flex;
            flex-direction: column;

            @include lg {
                width: 48%;
            }

            span {
                position: relative;

                &.field-validation-error {
                    @include text-s;
                    color: $danger;

                    &::after {
                        position: absolute;
                        right: 10px;
                        top: 38px;
                        z-index: 1;
                        font-size: 2em;
                        display: block;
                        content: '\2BBF';
                    }
                }
            }

            label {
                font-weight: 800;
                margin-top: 20px;
                margin-bottom: 5px;
                color: var(--color-gray-900);
            }

            input {
                border: 1px solid var(--color-gray-400);
                background-color: var(--color-gray-100);
                padding: 8px;
                border-radius: .3rem;
                margin-bottom: .4rem;

                &.input-validation-error {
                    border: 0.050rem solid $danger !important;
                    color: $danger;
                }
            }

            .validation {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        .buttons {
            display: flex;
            gap: 15px;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .delete-section {
            border-top: 1px solid var(--color-gray-300);
            padding-top: 30px;

            .checkbox {
                label {
                    margin-left: 10px;
                }

                span {
                    margin-left: 10px;
                    color: $danger;
                }
            }

            h5 {
                color: $theme;
            }


            button {
                background-color: red;
                margin-top: 20px;
            }
        }
    }
}
