#saved-courses {
    padding-top: 40px;
    padding-bottom: 60px;

    .container {
        display: grid;
        justify-content: center;

        @include lg {
            grid-template-columns: 1fr 3fr;
            padding-right: 5rem;
        }

        .menu-bar {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            align-self: flex-start;
            align-items: center;

            @include md {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include lg {
                grid-template-columns: 1fr;
            }

            .profile {
                text-align: center;

                @include md {
                    padding-right: 3rem;
                }

                h5 {
                    color: var(--color-gray-900);
                    margin-bottom: 0;
                }

                p {
                    color: var(--color-gray-600);
                    margin-bottom: 2rem;
                }

                .image {
                    position: relative;

                    img {
                        clip-path: circle();
                        max-width: 180px;
                        max-height: 180px;
                        border: 1px hidden;
                    }

                    .btn-upload {
                        position: absolute;
                        background-color: white;
                        clip-path: circle();
                        padding: 5px;
                        bottom: 15px;
                        right: 30px;

                        @include xxl {
                            right: 70px;
                        }

                        &:hover {
                            background-color: black;
                            cursor: pointer;
                        }
                    }
                }
            }

            .options {
                display: flex;
                flex-direction: column;


                @include md {
                    padding-right: 1rem;
                }

                a {
                    color: var(--color-gray-900);
                    font-weight: 700;
                    padding: 10px;
                    max-width: 300px;
                    width: auto;
                    margin-bottom: 0.2rem;
                    text-decoration: none;
                    border-radius: .4rem;

                    i {
                        padding-right: 1rem;
                        padding-left: 1.2rem;
                    }

                    &:hover,
                    &:active,
                    &:focus,
                    .active {
                        background-color: $theme;
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .active {
                    background-color: $theme;
                    color: #fff;
                }
            }
        }

        .content {
            @include lg {
                border-left: 1px solid var(--color-gray-300);
            }

            .section-title {
                display: flex;
                justify-content: space-between;

                .btn-delete {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-color: var(--color-gray-100);
                    border: 1px solid $danger;
                    border-radius: 0.2rem;
                    color: $danger;
                    width: 147px;
                    height: 44px;

                    i {
                        padding-right: 0.6rem;
                    }

                    p {
                        margin: 0;
                    }

                    &:hover {
                        border: 2px solid $danger;
                    }
                }
            }

            h2 {
                padding: 0 0 .5rem 1rem;
                color: var(--color-gray-900);

                @include md {
                    padding: 0 0 2rem 5rem;
                }
            }

            .saved-items {
                padding: 0 1rem 1rem 1rem;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 2.5rem 2rem;

                @include md {
                    padding: 0 1rem 1rem 5rem;
                }

                @include xl {
                    grid-template-columns: repeat(2, 1fr);
                }



                .course-card {
                    border-radius: 2%;
                    @include shadow-m;
                    position: relative;
                    background-color: var(--color-gray-100);

                    .image {
                        img {
                            width: 100%;
                            max-width: 100%;
                            border-top-left-radius: 2%;
                            border-top-right-radius: 2%;
                        }
                    }

                    .bookmark {
                        position: absolute;
                        width: 2.1rem;
                        aspect-ratio: 1;
                        top: 2%;
                        left: 90%;
                        background-color: $white;
                        border-radius: 50%;

                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &:hover {
                            color: $theme;
                        }
                    }


                    .hide {
                        display: none;
                        color: $white;
                        background-color: $black;
                        opacity: 0.8;
                        padding: 5px;
                        border-radius: 10%;
                        border: 1.6px solid var(--color-gray-200);
                        position: absolute;
                        top: -2.2rem;
                        left: 85%;

                        p {
                            margin: 0;
                        }
                    }

                    .bookmark:hover + .hide {
                        display: inline-block;
                    }

                    .course-info {
                        padding: 2rem 2rem 0 2rem;

                        h5 {
                            color: var(--color-gray-800);
                        }

                        p {
                            color: var(--color-gray-700);
                        }

                        .price {
                            color: $theme;
                            font-size: 1.2rem;
                            font-weight: 700;
                        }

                        .divider {
                            width: 100%;
                            height: 1px;
                            background-color: var(--color-gray-300);
                        }
                    }

                    .bottom {
                        padding-top: 1rem;
                        padding-left: 2rem;
                        gap: 2rem;

                        &, * {
                            display: flex;
                            align-items: center;
                            color: var(--color-gray-600);
                        }

                        p {
                            padding-right: .3rem;
                        }

                        i {
                            margin-bottom: .8rem;
                            padding-right: .5rem;
                        }
                    }
                }

                .no-courses {
                    position: relative;

                    h5 {
                        color: var(--color-gray-900);
                    }

                    p {
                        color: var(--color-gray-800);
                    }

                    a {
                        text-decoration: underline;
                    }
                }
                .lottie {
                    display: none;
                }

                @include xxxl {
                    .lottie {
                        display: block;
                        position: absolute;
                        top: 30%;
                        right: 50%;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}
