.container {
    .chat-bubble-right {
        text-align: right;
        background-color: $theme;
        margin-left: auto;
        border-radius: 15px;
        padding: 10px;
        max-width: 75%;
    }

    .chat-bubble-left {
        text-align: left;
        background-color: $white;
        margin-right: auto;
        border-radius: 15px;
        padding: 10px;
        max-width: 75%;
    }
}
