.create {
    padding-top: 2rem;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
        color: var(--color-gray-900);
    }

    h3 {
        color: var(--color-gray-900);
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;

        @include lg {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0 5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2rem;
            max-width: 100%;
            padding-left: .6rem;

            label {
                color: var(--color-gray-800);
                font-weight: 700;
            }

            input {
                border: .5px solid var(--color-gray-400);
                background-color: var(--color-gray-100);
                border-radius: .4rem;
                padding: 0.5rem;
            }
        }

        .btn-theme {
            margin-top: 0.4rem;
            grid-column: 2 / span 1;
            margin-bottom: 20px;
        }
    }
}
