.nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;

    .icon {
        font-size: 40px;
        color: $theme;
        padding-left: 4rem;
        margin-bottom: 3rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 1rem;
        max-width: 300px;

        .link {
            color: var(--color-gray-900);
            background-color: var(--color-theme);
            font-weight: 800;
            padding: 10px;
            width: auto;
            margin-bottom: 0.2rem;
            text-decoration: none;
            border-radius: .4rem;

            i {
                padding-right: 1rem;
                padding-left: 1.2rem;
            }

            &:hover,
            &:active,
            &:focus,
            .active {
                background-color: $theme;
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
        }

        .active {
            background-color: $theme;
            color: #fff;
        }
    }
}
