<header @* class="@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Contact") ? "background-contact" : "") *@">
    <div class="container">
        @* <NavLink id="logo" href="/"><img src="/images/icons/@(isDark ? "silicon-logo-dark.svg" : "silicon-logo-light_theme.svg")" alt="Silicon-logo"></NavLink> *@

        <div id="menu" class="hide">
            <nav>
                <NavLink href="/" class="menu-link asp-fragment">Overview</NavLink>
                <NavLink href="#features" class="menu-link asp-fragment">Features</NavLink>
                <NavLink href="/contact" class="menu-link">Contact</NavLink>

                <AuthorizeView>
                    <Authorized>
                        <a href="/courses" class="menu-link">Courses</a>
                    </Authorized>
                </AuthorizeView>
@*                     @if (User.IsInRole("SuperUser"))
                    {
                        <a class="menu-link" asp-controller="Courses" asp-action="Create">Admin Portal</a>
                    } *@
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" @* checked="@isDark" *@ />
                <span class="slider round" id="slider"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons hide" id="account-buttons">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="sign-out" title="Sign Out"><i class="fa-regular fa-right-from-bracket "></i></NavLink>
                    @* <NavLink title="Profile"><img class="profile-image" src="/images/profiles/@user!.ProfileImageUrl" /></NavLink> *@
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/signin" class="btn-gray"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></NavLink>
                    <NavLink href="/signup" class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign Up</span></NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <button onclick="toggleMenu()" class="btn-mobile">
            <i id="barsIcon" class="fa-regular fa-bars"></i>
            <i id="crossIcon" class="fa-sharp fa-solid fa-xmark hide"></i>
        </button>

    </div>
</header>

@code {

}
