@using Silicon.Blazor.ViewModels.Courses

@if (selectedCourse != null)
{
    <section id="course-author" class="container">
        <div class="author-content">
            <img class="squiggly" src="~/images/background-squiggly-pattern.svg" alt="background-design" />
            <div class="author-image">
                <img src="~/images/@selectedCourse.ImageHeaderUri" alt="" />
            </div>
            <div class="author-box">
                <div class="author-info">
                    <span class="learn-from"> Learn from the best</span>
                    <span class="author-name">@selectedCourse.Authors</span>
                    <span class="author-description"></span>

                    <div class="social">
                        <div class="youtube-btn">
                            <NavLink class="btn-theme"><i class="fa-brands fa-youtube"></i> @selectedCourse.Likes</NavLink>
                        </div>
                        <div class="fb-btn">
                            <NavLink class="btn-theme"><i class="fa-brands fa-square-facebook"></i> @selectedCourse.LikesInPercent followers</NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {
    [Parameter]
    public CourseCardWithDetails selectedCourse { get; set; }
}