<div class="nav-bar">
    <i class="icon fa-solid fa-building-memo"></i>
    <nav>
        <NavLink class="link"><i class="fa-duotone fa-users"></i>Administrators</NavLink>
        <NavLink class="link"><i class="fa-duotone fa-users"></i>Users</NavLink>
        <NavLink class="link"><i class="fa-duotone fa-envelope"></i>NewsLetter</NavLink>
        <NavLink class="link"><i class="fa-regular fa-graduation-cap"></i>Courses</NavLink>
        <NavLink class="link"><i class="fa-sharp fa-solid fa-headset"></i>Chat</NavLink>
    </nav>
</div>


@code {

}
