@page "/signup"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Azure.Messaging.ServiceBus
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject UserFactory UserFactory
@inject UserService UserService
@inject ServiceBusHandler ServiceBusHandler
@inject AuthenticationStateProvider StateProvider

<PageTitle>Sign up</PageTitle>

<section id="signup">

    <div class="container">
        @if (!string.IsNullOrEmpty(StatusMessage))
        {
            <div class="alert alert-danger w-50 text-lg-center">
                @StatusMessage
            </div>
        }

        <EditForm FormName="signupform" Model="SignUpForm" OnValidSubmit="SignUp" method="post">
            <DataAnnotationsValidator />
            <h1>Create Account</h1>
            <p>Already have an account? <NavLink href="/signin">Sign in here</NavLink></p>

            <div class="form-content">
                <div class="form-name">

                    <div id="form-firstname" class="input-field">
                        <div class="input-labels">
                            <label>First name</label>
                        </div>
                        <InputText @bind-Value="SignUpForm.FirstName" />
                        <ValidationMessage For="() => SignUpForm.FirstName" class="text-danger" />
                    </div>

                    <div id="form-lastname" class="input-field">
                        <div class="input-labels">
                            <label>Last Name</label>
                        </div>
                        <InputText @bind-Value="SignUpForm.LastName" />
                        <ValidationMessage For="() => SignUpForm.LastName" class="text-danger" />
                    </div>

                </div>

                <div id="form-email" class="input-field">
                    <div class="input-labels">
                        <label>Email</label>
                    </div>
                    <InputText @bind-Value="SignUpForm.Email" type="email" />
                    <ValidationMessage For="() => SignUpForm.Email" class="text-danger" />
                </div>

                <div id="form-password" class="input-field">
                    <div class="input-labels">
                        <label>Password</label>
                    </div>
                    <InputText @bind-Value="SignUpForm.Password" type="password" />
                    <ValidationMessage For="() => SignUpForm.Password" class="text-danger" />
                </div>

                <div id="form-confirm" class="input-field">
                    <div class="input-labels">
                        <label>Confirm Password</label>
                    </div>
                    <InputText @bind-Value="SignUpForm.ConfirmPassword" type="password" />
                    <ValidationMessage For="() => SignUpForm.ConfirmPassword" class="text-danger" />
                </div>

                <div id="form-terms" class="checkbox">
                    <InputCheckbox @bind-Value="SignUpForm.TermsAndConditions" />
                    <label>I agree to the terms and conditions</label>
                    <ValidationMessage For="() => SignUpForm.TermsAndConditions" class="text-danger" />
                </div>

            </div>
            <button class="btn-theme" type="submit">Sign Up</button>
        </EditForm>
    </div>
</section>


@code {
    [SupplyParameterFromQuery]
    private string? StatusMessage { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    [SupplyParameterFromForm]
    private SignUpModel SignUpForm { get; set; } = new();

    public async Task SignUp(EditContext editContext)
    {
        try
        {
            var existingUser = await UserManager.FindByEmailAsync(SignUpForm.Email);
            if (existingUser != null)
            {
                StatusMessage = "An account with this email address already exists.";
                return;
            }

            var user = await UserFactory.PopulateUserEntity(SignUpForm);
            var result = await UserManager.CreateAsync(user, SignUpForm.Password);
            if (!result.Succeeded)
            {
                StatusMessage = "Unable to register account. Please try again.";
                return;
            }

            var body = new { email = SignUpForm.Email };
            await ServiceBusHandler.SendServiceBusMessage(body, "VerificationServiceBus", "verification_request");
        }
        catch
        {
            StatusMessage = "An error occured while creating the account.";
            return;
        }

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo("Account/RegisterConfirmation", new() { ["email"] = SignUpForm.Email, ["returnUrl"] = ReturnUrl });
        }

        RedirectManager.RedirectTo("/signin");
    }
}