@* @if (user is not null)
{
{ *@
    <div class="profile">
        <div class="profile">
            <div class="image">
                @* <img src="~/images/profiles/@user.ProfileImageUrl" alt="@($"{user.FirstName} {@user.LastName}")" /> *@
                <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
                    <input id="fileUploader" type="file" name="file" hidden />
                    <label for="fileUploader" class="btn-upload"><i class="fa-regular fa-refresh"></i></label>
                </form>
            </div>
            @* <h5 class="user-name"> @user.FirstName @user.LastName</h5> *@
            @* <p>@user.Email</p> *@
        </div>
    <nav class="options">
        <NavLink class=" menu-link" href="/Account/Details"><i class="fa-regular fa-gear"></i> Account Details
        </NavLink>
        <NavLink class=" menu-link" href="/Account/Security"><i class="fa-regular fa-lock"></i> Security
        </NavLink>
        <NavLink class="menu-link" href="/Account/Notifications"><i class="fa-regular fa-bell"></i> Notifications
        </NavLink>
        <NavLink class=" menu-link" href="/Account/Messages"><i class="fa-regular fa-envelope"></i> Messages
        </NavLink>
        <NavLink class="menu-link" href="/Account/MyCourses"><i class="fa-sharp fa-regular fa-bookmark"></i> Saved Courses
        </NavLink>
        <NavLink class="menu-link" href="/Auth/SignOut"><i class="fa-solid fa-right-from-bracket"></i> Sign Out
        </NavLink>
    </nav>
    </div>
@* } *@

@code {
    public AccountDetailsVM Model = new AccountDetailsVM();
}