#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

:root {
    --color-gray-001: #FFFFFF;
    --color-gray-100: #FEFEFE;
    --color-gray-101: #F3F6FF;
    --color-gray-200: #EFF2FC;
    --color-gray-300: #E2E5F1;
    --color-gray-400: #D4D7E5;
    --color-gray-500: #B4B7C9;
    --color-gray-600: #9397AD;
    --color-gray-700: #565973;
    --color-gray-800: #33354D;
    --color-gray-900: #0B0F19;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-000: #EFF2FC;
    --color-theme: #6366F1;
    --color-danger: #E57E88;
    --color-success: #BCF7D2;
    --color-warning: #FFE8AD;
    --font-standard: "Manrope", sans-serif;
    color-scheme: light;
}


.dark-theme {
    --color-gray-001: #0B0F19;
    --color-gray-100: #12161F;
    --color-gray-101: #151922;
    --color-gray-200: #12161F;
    --color-gray-300: #9397AD;
    --color-gray-400: #B4B7C9;
    --color-gray-500: #D4D7E5;
    --color-gray-600: #E2E5F1;
    --color-gray-700: #EFF2FC;
    --color-gray-800: #F3F6FF;
    --color-gray-900: #FFFFFF;
    --color-white: #000000;
    --color-black: #FFFFFF;
    --color-gray-000: #EFF2FC;
    --color-theme: #6366F1;
    --color-danger: #E57E88;
    --color-success: #BCF7D2;
    --color-warning: #FFE8AD;
    --font-standard: "Manrope", sans-serif;
    color-scheme: dark;
}
