@page "/account/details"
<PageTitle>Account</PageTitle>
<section id="details">
    <div class="container">
       
        <div class="menu-bar">
            <NavBar />
        </div>

        <div class="account-details">

            <ContactInfo />

            <div class="divider"></div>
            <AddressInfo />
        </div>
    </div>
</section>
