@page "/account/notifications"
<PageTitle>Account</PageTitle>
<section id="details">
    <div class="container">

        <div class="menu-bar">
            <NavBar />
        </div>

       <Notifications />

    </div>
</section>


@code {
    private AccountDetailsVM model { get; set; }
}
