@page "/account/chat"
@attribute [Authorize]

<section id="details">
    <div class="container">
        <div class="menu-bar">
            <NavBar />
        </div>
        <h3>Chat</h3>
    </div>
</section>


@code {

}
