@attribute [Authorize]
@page "/account/mycourses"
<PageTitle>Account</PageTitle>
<section id="details">
    <div class="container">

        <div class="menu-bar">
            <NavBar />
        </div>

        <MyCourses />

    </div>
</section>



@code {
    private AccountDetailsVM? model { get; set; }
}
